# Copy this file to .env and fill in your values
PORT=5000
DB_URL=mongodb+srv://25eg512d02_db_user:Varsha0812@articles.3wzxxis.mongodb.net/
SECRET_KEY=775437ea30a8e7f11d6d919846f2e5b9ab6fefcc3d4746b8f37477828e4164b7
CLOUDINARY_CLOUD_NAME=dtvcfguyh
CLOUDINARY_API_KEY=837232391411489
CLOUDINARY_API_SECRET=GNTS_KxgNMAZaXO6sODKi5pzvEA
ALLOWED_ORIGINS=http://localhost:5173,https://capstone-project-8vwb.vercel.app/
